@media only screen and (min-width : 960px) and (max-width : 1500px) {
  .overlay {
    position: absolute;
    display: flex;
    height: 80vh;
    width: 93.4%;
    top: 12vh;
    left: 6vh;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 74, 117,0.5);
  }

  .overlayFade {
    position: absolute;
    display: flex;
    height: 80vh;
    width: 93.4%;
    top: 21.5vh;
    left: 6vh;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 74, 117,0.5);
  }

  .container {
    max-width: 1366px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto
  }
}

@media only screen and (min-width : 480px) and (max-width : 960px) {
  .overlay {
    position: absolute;
    display: flex;
    height: 80vh;
    width: 96.5%;
    top: 10vh;
    left: 2vh;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 74, 117,0.5);
  }

  .container {
    max-width: 1366px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto
  }
}

@media only screen and (max-width : 480px) {
  .overlay {
    position: absolute;
    display: flex;
    height: 80vh;
    width: 100%;
    top: 25vh;
    left: 0;
    background-color: rgba(0, 74, 117,0.5);
  }

  input[type=text], input[type=submit] {
    width: 100%;
  }

  .containerNewsletter {
    padding: 5px;
    background-color: #007bc1;
  }
}

.img_overlay {
  position: relative;
  max-width: 1366px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
}

.loginWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  z-index: 1024;
  justify-content: center;
  text-align: center;
}

.banner {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 2024;
  background-color:  #e5e5e5;
  justify-content: center;
}

.fadeOut {
  opacity: 0;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.fadeIn {
  opacity: 1;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1024;
  background-color: #D3D3D3;
  justify-content: center;
  align-items: center;
}

/* /////////////////////////// */

form {
  border: 3px solid #f1f1f1;
  font-family: Arial;
  width: 65%;
  position: sticky;
  bottom: 0;
  z-index: 3024;
  transition: opacity .1s ease;
}

.containerNewsletter {
  padding: 20px;
  background-color: #007bc1;
}

input[type=text], input[type=submit] {
  width: 45%;
  padding: 12px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #ff8000;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}