.footerWrapper {
  display: flex;
}

.footerContainer {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 30px;
  z-index: 1024;
  background-color: #004a75;
  color: white;
  width: 100%;
}

.footerContent {
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  text-align: center;
}

.list {
   /* @include medium(); */
  font-size: 1rem;
  display: flex;
  flex: 1;
  justify-content: center;
}

