.overlay {
  position: absolute;
  display: flex;
  height: 60;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 74, 117,0.5);
}

.img_overlay {
  position: relative;
  max-width: 1366px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  z-index: 1024;
  justify-content: center;
  text-align: center;
}

.banner {
  position: sticky;
  display: flex;
  z-index: 1024;
  background-color:  #e5e5e5;
  justify-content: center;
}

.row {
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 1024;
  background-color:#e5e5e5;
  justify-content: center;
  align-items: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}